// Color
$color-black:#000000;
$color-lightgrey:#EFEFEF;
$color-grey:#949494;
$primary-color:#AE0000;

// Font-size
$fs-large:32px;
$fs-middle:24px;
$fs-small:20px;
$fs-title:128px;
$fs-sec-title:40px;

// Line-height
$line-height:1.5;

//Font-family
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');
$font-style:"Castoro",Serif;